{% load static %}

 <footer class="container-fluid bg-default p-3 card mt-2 mb-2">
        	<div class="footer-top">
		        <div class="container">
		        	<div class="row">
		        		<div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
		        			<img class="logo-footer" src={% static 'assets/img/brand/esl.svg' %} alt="logo-footer" data-at2x="assets/img/brand/esl.svg">
		        			<p class="text-white-50">
		        				We are a young company always looking for new and creative ideas to help you with our products in your everyday work.
		        			</p>
		        			<p><a href="#" class="text-white">Our Team</a></p>
	                    </div>
		        		<div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown text-white">
		        			<h3 class="text-white">Contact</h3>
		                	<p><i class="fas fa-map-marker-alt"></i> Via Teams 037, At Home</p>
		                	<p><i class="fas fa-phone"></i> Phone: (+91) 9606 172957</p>
		                	<p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">gaming@esl.com</a></p>
	                    </div>
	                    <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
	                    	<h3 class="text-white">Follow us</h3>
	                    	<p>
	                    		<a href="#"><i class="fab fa-facebook"></i></a> 
								<a href="#"><i class="fab fa-twitter"></i></a> 
								<a href="#"><i class="fab fa-google-plus-g"></i></a> 
								<a href="#"><i class="fab fa-instagram"></i></a> 
								<a href="#"><i class="fab fa-pinterest"></i></a>
	                    	</p>
	                    </div>
		            </div>
		        </div>
	        </div>
	        
        </footer>