{% extends 'layouts/base.html' %} {% block title %} Dashboard {% endblock title%}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Events Organised
                  </h5>
                  <span class="h2 font-weight-bold mb-0">35</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-danger text-white rounded-circle shadow"
                  >
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2">Previous Event On : </span>
                <span class="text-nowrap">Yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Events Registered
                  </h5>
                  <span class="h2 font-weight-bold mb-0">26</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-warning text-white rounded-circle shadow"
                  >
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2">Previous Event On : </span>
                <span class="text-nowrap">28/12/2020</span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Performance
                  </h5>
                  <span class="h4 font-weight-bold mb-0">Total Events : 26</span
                  ><br /><span class="h4 font-weight-bold mb-0">Won : 2</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-info text-white rounded-circle shadow"
                  >
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 ">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="text-white mb-0">Hosted</h2>
            </div>
          </div>
        </div>
        <div class="card-body h-100 ">
          <!-- Chart -->
          {% comment %} <div class="chart"> {% endcomment %}
            <!-- Chart wrapper -->
            <table class="table font-weight text-white align-items-center bg-default"             >
              <thead>
                <tr>
                  <th scope="col">Event name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Game Name</th>
                  <th scope="col">Participants Count</th>
                </tr>
              </thead>
              <tbody>
              {% for data in host %}
                <tr>

                <form method="POST" action={% url 'dashboard' user.username %}>
                {% csrf_token %}
                                <input id="id" name = 'id' value={{data.id}} hidden/>
                  <th scope="row">{{ data.event_name }}</th>
                  <td>{{ data.event_date}}</td>
                  <td>{{ data.game_name }}</td>
                  <td>{{ data.register_count }}   &nbsp; &nbsp;
                  <input type='Submit' class="btn btn-danger" value='Delete' /> </td>
                  </form>
                </tr>
                {% endfor %}
               </tbody>
            </table>

          {% comment %} </div> {% endcomment %}
        </div>
      </div>
    </div>
</div>
</div>
<div class="container-fluid mt-3 mb-4">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="text-white mb-0">Events Registered</h2>
            </div>
          </div>
        </div>
        <div class="card-body h-100">
          <!-- Chart -->
          {% comment %} <div class="chart"> {% endcomment %}
            <!-- Chart wrapper -->
            <table
              class="table font-weight text-white align-items-center bg-default"
            >
              <thead>
                <tr>
                  <th scope="col">Event name</th>
                  <th scope="col">Game Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Postion</th>
                </tr>
              </thead>
              <tbody>
              {% for datas in reg %}
                {% comment %} {% for data in datas %} {% endcomment %}
                <tr>
                  <th scope="row">{{ datas.event.event_name }}</th>
                  <td>{{ datas.event.game_name}}</td>
                  <td>{{ datas.date }}</td>
                  <td>{{ datas.position }}    </td>
                </tr>
                {% comment %} {% endfor %} {% endcomment %}
                {% endfor %}
                </tbody>
               </table>
          {% comment %} </div> {% endcomment %}
        </div>
      </div>
    </div>
    </div>
    </div>
   

  {% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
